.notice:first-child {
  margin-top:1em;
}

.notice:not(:first-child) {
  margin-top:2em;
}

.notice > p {
  display:block;
  width:100%
}
.notice strong {
  text-transform:uppercase;
  border-bottom: 2px solid var(--link-color)
}

.hero {height:22rem}

a[href]:not(:where(
  /* exclude hash only links */
  [href^="#"],
  /* exclude relative but not double slash only links */
  [href^="/"]:not([href^="//"]),
  /* domains to exclude */
  [href*="//well-made.uk"]
)):not(.social__link):after {
  content: ' ↗️';
}

.feed__item {padding:2.5em}
.post__tag > a:hover {background-color:var(--link-color)!important;color:var(--card-color)!important}
.page__content > .post__tag > a {background-color:var(--white-color)!important;}.page__content > .post__tag > a:hover {background-color:var(--link-color)!important;}

main .hero {background-color:#375974;background-image:url('/img/bg.webp');background-size:cover;background-position:center center;background-repeat:no-repeat;background-blend-mode: multiply;}
.light-theme main .hero {background-image:unset}
.light-theme .hero .wrapper > * {color:white;}
.top {padding:0 9vw;}
